.python-version
/build/
inputs/problems/*.txt
/lib/**/build/
*.pyc
*.log
dist/*
*.rdb
*.egg/
*.egg*
*.whl
*.swp
*.swo
*.swn
pyx/*.c
pyx/*.cpp
pyx/*.html
*.so
dist
doc/_build
.envrc
.idea
.bundle
.vscode
.emacs-project
coverage
*.coverage
/cover
*.iml
.venv
